.textauthor {
        color: rgb(139, 172, 218);
        font-size: 10px;
        font-family: 'Outfit';
}

.imagefooter {
    margin-right: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    vertical-align: middle;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid;
    opacity: 15%;
    color: rgb(139, 172, 218);
}