.card {
    max-width: 22rem;
    padding: 1.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(20, 37, 61);
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5;
    box-shadow: 9px 25px 2px hsl(220, 51%, 10%);
}

.card h3,
.card-footer_author {
    color: #ffffff;
}

h3 {
    padding-top: 0.5rem;
    font-size: 11px;
}
